/* body:header - new year celebration banner */
.header {
    width: 1600px;
    height: 750px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
        url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
}

.celebration h2 {
    color: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 42px;
    text-align: center;
}

.celebration h1 {
    color: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 85px;
    text-align: center;
}

/* common colors */
.white-color {
    color: rgb(255, 255, 255);
}

.light-white-color {
    color: rgba(255, 255, 255, 0.8)
}

.red-color {
    color: rgb(255, 0, 0);
    ;
}

.black-color {
    color: rgb(7, 2, 17);
}

.light-black-color {
    color: rgba(7, 2, 17, 0.6);
}

/* body:main:section id:new-year-off */
#new-year-off {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin: 0 auto;
}

.off {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 85px;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
}

.deal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
}

.categories {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
}

/* body:main:section id:party */
#party {
    width: 1600px;
    height: 750px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
        url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 15px;
}

.midnight-party h1 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 75px;
    text-align: left;
    padding: 0px 0px 0px 140px;
}

.midnight-party h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: left;
    padding: 0px 200px 100px 140px;
}

.midnight-party h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: left;
    padding: 0px 0px 20px 195px;
}

.midnight-party-img-2024 img {
    margin-right: 145px;
}

/* body:main:section id:place&time */
#place-time {
    width: 1600px;
    height: 482px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    border-radius: 15px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;

}

.place-time-description {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    line-height: 56px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
    padding-bottom: 80px;
}

.join-btn button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
    text-transform: uppercase;
    background: rgb(255, 0, 0);
    width: 167px;
    font-family: ;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    border: none;
}

/* body:main:section id:coming-soon */
#coming-soon {
    width: 1600px;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
}

.coming-soon-slogan {
    width: 850px;
    text-align: left;
    padding: 0px 0px 0px 5px;
    align-items: center;
}

.coming-soon-slogan h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 38px;
    font-weight: 500;
    line-height: 0px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.coming-soon-slogan h1 {
    font-family: "Merriweather", serif;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.coming-soon-slogan h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.coming-soon-img {
    width: ;
    border: 15px solid red;
    border-radius: 100%;
    padding: 20px;
    margin: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon-img img {
    width: 500px;

}

.coming-soon-2024 {
    width: 600px;
    text-align: left;
    padding: 0px 0px 0px 5px;
    justify-content: left;
    align-items: center;
}

.coming-soon-2024 h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 60px;
    font-weight: 700;
    line-height: 58px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: left;
    padding: 60px 0px 0px 25px;
}

.coming-soon-2024 h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: left;
    padding: 0px 0px 0px 25px;
}

.coming-soon-2024 img {
    width: 150px;
    padding-top: 50px;
    padding-left: 25px;
}

/* body:main:section id:holiday-sale */
#holiday-sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.holiday-sale-container h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
}

.holiday-sale-container h1 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-size: 72px;
    font-weight: 900;
    line-height: 20px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
}

.holiday-sale-container h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
}

/* body:main:section id:discount */
#discount {
    width: 1600px;
    height: 580px;
    display: flex;
    margin: 0 auto;
}

.discount-giftbox-bar {
    position: relative;
}

.discount-giftbox {
    position: absolute;
    left: +100px;
    width: 650px;
}

.discount-bar {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 300px;
    bottom: 0px width: 1600px;
    height: 278px;
    align-items: center;
    margin: 0 auto;
}

.discount-label {
    width: 300px;
}

.discount-label-50 {
    margin-left: 1100px;
    margin-bottom: 350px;
}

/* body:main:section id:portfolio */
#portfolio {
    width: 1600px;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

.portfolio-text {
    width: 100%;
    height: 100%;
}

.portfolio-text h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: left;
}

.portfolio-text h1 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: left;
}

.portfolio-text h3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: left;
}

.portfolio-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;
    margin-top: 50px;
}

.portfolio-img-container img {
    width: 100%;
    height: 100%;
}

/* body:main:section id:newsletter */
#newsletter {
    width: 1600px;
    height: 615px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    border-radius: 15px 15px 0px 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

.newsletter-img {
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.newsletter-description h1 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
}

.newsletter-description h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
}

.newsletter-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-email-input button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    text-align: center;
    text-transform: capitalize;
    background: rgb(255, 0, 0);
    width: 167px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    border: none;
}

.newsletter-email input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 30px;
    background: rgb(255, 255, 255);
    color: #fff;
    padding-right: 100px;
}